/* media queries */

@media (max-width: 768px) {
  #home-image {
    display: none;
  }

  #about .content {
    grid-template-columns: repeat(6, 1fr);
  }

  #about-image {
    /* ? */
    grid-column: 2 / 4;
  }

  #about-text {
    /* ? */
    grid-column: 4 / 6;
  }
}

@media (min-width: 768px) {
  #home .content {
    grid-template-columns: 40% 20%;
  }

  #home-image {
    width: 250px;
  }
}

@media (min-width: 1120px) {
  #home .content {
    gap: 4rem;
  }

  #home-image {
    width: 300px;
  }

  #about .content {
    grid-template-columns: repeat(12, 1fr);
  }
}
/* end */

#home {
  /* grid-template-columns: repeat(12, 1fr); */
  width: 100%;
  height: 90vh;
  margin-top: 100px;
}

#home .content {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 3rem;
}

#home-text {
  text-align: center;
}

#button-github {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

#about {
  background-color: var(--purple);
  width: 100%;
  height: 90vh;
}

#about .content {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

#avatar {
  border-radius: 10%;
}

#about-image {
  /* width: 100%; */
  /* grid-column: 1 / 3; */
  /* height: 100%; */
}

#about-text {
  /* grid-column: 3 / 6; */
  /* max-width: 40%; */
}

#social-network-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

#contact {
  height: 90vh;
  width: 100%;
  /* box-sizing: border-box; */
}

#contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-description {
  margin-bottom: 40px;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

form input {
  flex: 1 1;
}

form > button {
  max-width: 12rem;
}
