/* media queries */

@media (max-width: 800px) {
  #home-image {
    display: none;
  }

  #about .content {
    gap: 2rem;
  }

  #about-image {
    justify-self: center;
    align-self: end;
  }

  #about-text {
    align-self: start;
  }

  #submit {
    justify-self: center;
  }

  #repo {
    display: grid;
    text-align: center;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media (min-width: 800px) {
  #home .content {
    grid-template-columns: 40% auto;
  }

  #home-image {
    width: 300px;
  }

  #about .content {
    grid-template-columns: 50% auto;
    gap: 3rem;
  }

  #message {
    grid-column: span 3;
  }

  #submit {
    grid-column: span 3;
    justify-self: center;
  }

  #repo {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

@media (min-width: 1000px) {
  #home .content {
    grid-template-columns: 40% auto;
    gap: 0;
  }
}

@media (min-width: 1300px) {
  #about .content {
    grid-template-columns: 20% 50%;
  }
}

@media (min-width: 1400px) {
  #about .content {
    gap: 2rem;
  }
}
/* end */

#home {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

#home .content {
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#home-text {
  text-align: center;
}

#button-github {
  display: flex;
  justify-content: center;
}

#about {
  background-color: var(--purple);
  width: 100%;
  height: 100vh;
}

#about .content {
  display: grid;
  justify-content: center;
  place-items: center;
}

#avatar {
  border-radius: 10%;
}

#text {
  margin-bottom: 1.5rem;
  font-size: 18px;
  text-align: justify;
}

#social-network-icons {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

#contact {
  height: 100vh;
  width: 100%;
}

#contact .content {
  display: grid;
  align-items: end;
  justify-content: center;
}

#contact-description {
  margin-bottom: 40px;
}

#contact-description p {
  text-align: center;
  font-size: 18px;
}

form {
  display: grid;
  align-self: start;
  gap: 1rem;
  width: 100%;
}

form > button {
  max-width: 12rem;
}

#success .content {
  text-align: center;
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#back {
  margin-top: 2rem;
  max-width: 20px;
}

footer #copyright {
  font-size: 13px;
  letter-spacing: normal;
  margin-top: 0.5rem;
  text-align: center;
}

footer #copyright a {
  font-size: 13px;
  letter-spacing: normal;
}
